p {
  text-indent: 2em;
}

*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #101214;
  border-radius: 14px;
  border: 1px solid #9046a4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1e1921;
}