@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #000000;
  --foreground: #ededed;
  --primary-text: #9046a4;
  --secondary-text: #101214;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background-color);
  color: var(--foreground);
}

main {
  @apply flex flex-col gap-8 md:flex-1 md:min-h-0 md:justify-between;
}

section {
  @apply flex flex-1 flex-col relative min-h-0;
}

.page-wrapper {
  @apply flex md:flex-row flex-col flex-1 min-h-0 md:overflow-hidden;
}


@layer base {
  h1 {
    @apply text-5xl md:text-7xl pb-5 text-[#928a91];
    font-family: var(--font-orbitron);
  }

  h2 {
    @apply md:text-5xl text-2xl;
    font-family: var(--font-orbitron);
  }

  h3 {
    font-family: var(--font-orbitron);
  }

  p,li {
    font-family: var(--font-spaceGrotesk)
  }
}

form > div {
  @apply flex flex-col gap-2;
}

input,
textarea {
  @apply px-3 py-3 border-2 bg-black border-[#44494ed7] focus:border-gray-400 focus:outline-none;
}

label {
  @apply text-[#894fad];
}

.card {
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0;
}

.weathered-effect {
  position: relative;
}

.weathered-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Scratches-Transparent-Free-PNG.png");
  background-size: 150px;
  mix-blend-mode: multiply;
  pointer-events: none;
  opacity: 0.9;
}

.typewriter {
  display: inline-block;
  white-space: nowrap;
}

.typewriter .wrap {
  display: inline-block;
  border-right: 0.08em solid #fff;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #928a91;
  }
}

.blinking-text {
  animation: blink-animation 1s steps(1, start) infinite;
}

@keyframes blink-animation {
  50% {
    visibility: hidden;
  }
}

.purple {
  filter: invert(38%) sepia(8%) saturate(4322%) hue-rotate(235deg)
    brightness(94%) contrast(86%);
}

.orange {
  filter: invert(45%) sepia(73%) saturate(485%) hue-rotate(340deg)
    brightness(95%) contrast(98%);
}

.eldritch-font {
  font-family: var(--font-eldritch);
}

.orbitron-font {
  font-family: var(--font-orbitron);
}

*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #101214;
  border-radius: 14px;
  border: 1px solid #9046a4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1e1921;
}
