@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #000000;
  --foreground: #ededed;
  --primary-text: #9046a4;
  --secondary-text: #101214;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background-color);
  color: var(--foreground);
}

main {
  @apply flex flex-col gap-8 md:flex-1 md:min-h-0 md:justify-between;
}

section {
  @apply flex flex-1 flex-col
}

.page-wrapper {
  @apply flex md:flex-row flex-col flex-1 min-h-0 md:overflow-hidden;
}


@layer base {
  h1 {
    @apply text-6xl md:text-8xl pb-5 text-[#928a91];
    font-family:
      "Big Shoulders Display",
      ui-sans-serif,
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      "Liberation Sans",
      sans-serif;
  }

  h2 {
    @apply md:text-5xl text-2xl;
  }
}

form > div {
  @apply flex flex-col gap-2;
}

input,
textarea {
  @apply px-6 py-2 bg-black border-gray-500;
}

label {
  @apply text-[#894fad];
}

.card {
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0;
}

.weathered-effect {
  position: relative;
}

.weathered-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Scratches-Transparent-Free-PNG.png");
  background-size: 150px;
  mix-blend-mode: multiply;
  pointer-events: none;
  opacity: 0.9;
}

/* .typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.typewriter .wrap {
  border-right: 0.08em solid #fff;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #928a91;
  }
} */

.typewriter {
  display: inline-block;
  white-space: nowrap;
}

.typewriter .wrap {
  display: inline-block;
  border-right: 0.08em solid #fff;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #928a91;
  }
}

.blinking-text {
  animation: blink-animation 1s steps(1, start) infinite;
}

@keyframes blink-animation {
  50% {
    visibility: hidden;
  }
}

.purple {
  filter: invert(38%) sepia(8%) saturate(4322%) hue-rotate(235deg)
    brightness(94%) contrast(86%);
}

.orange {
  filter: invert(45%) sepia(73%) saturate(485%) hue-rotate(340deg)
    brightness(95%) contrast(98%);
}

.eldritch-font {
  font-family: var(--font-eldritch);
}

button {
  @apply inline-flex w-fit self-start m-5 items-center rounded-md bg-black p-3 border-[#894fad] border-2 text-[#894fad] font-bold hover:border-[#bc77e7] hover:text-[#bc77e7] flex-row justify-around;
}

*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #101214;
  border-radius: 14px;
  border: 1px solid #9046a4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1e1921;
}
