@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #4D744A;
  --foreground: #8DA779;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @layer components {
  .container {
    @apply
  }
} */
