.carousel-container {
  @apply flex flex-col justify-center h-full w-full;
}

.carousel-controls {
  text-align: center;
  padding: 10px;
  @apply shrink-0
}

.carousel-controls button {
  @apply w-1/3 md:my-0 mx-2 inline-flex self-start m-5 items-center rounded-md bg-black p-3 border-[#894fad] border-2 text-[#894fad] font-bold hover:border-[#bc77e7] hover:text-[#bc77e7] flex-row justify-around;
}

.carousel-indicators {
  text-align: center;
  /* padding: 10px; */
}

.carousel-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: #777;
}