.carousel-controls {
  text-align: center;
  padding: 10px;
}

.carousel-controls button {
  margin: 0 10px;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
}

.carousel-indicators {
  text-align: center;
  /* padding: 10px; */
}

.carousel-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: #777;
}